<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="app.name" value="rigai-rigeye-server" />
    <property name="app.log.home" value="/opt/app/logs/${app.name}" />
    <springProperty scope="context" name="logLevel" source="logLevel"/>
    <!-- the log for console configure -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss}-[${app.name}]-%m%n</pattern> -->
            <pattern>%d{yyyy/MM/dd-HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!-- The log which is recorded in the customized system code -->
    <appender name="appAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.log.home}/${app.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${app.log.home}/${app.name}.log.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${app.name}] [%-5p] [%t] %c - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- This is unused -->
    <appender name="warnAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.log.home}/${app.name}.warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${app.log.home}/${app.name}.warn.log.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${app.name}] [%-3p] [%t] %c - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- This is used to record the log for the third party plugin, like Spring, ibatis, hibernate and so on -->
    <appender name="3rdPartyAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.log.home}/${app.name}.3rdParty.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${app.log.home}/${app.name}.3rdParty.log.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${app.name}] [%-3p] [%t] %c - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="remoteAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.log.home}/${app.name}.remote.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${app.log.home}/${app.name}.remote.log.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${app.name}] [%-5p] [%t] %c - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <logger name="com.ibatis" addtivity="false" level="INFO">
        <appender-ref ref="3rdPartyAppender" />
    </logger>

    <logger name="org.springframework" addtivity="false" level="WARN">
        <appender-ref ref="3rdPartyAppender" />
    </logger>

    <logger name="com.lufax.jersey" addtivity="false" level="INFO">
        <appender-ref ref="remoteAppender" />
    </logger>

    <logger name="org.hibernate.SQL" addtivity="false" level="WARN">
        <appender-ref ref="3rdPartyAppender" />
    </logger>

    <root level="${logLevel}">
        <appender-ref ref="appAppender" />
        <appender-ref ref="console" />
    </root>
</configuration>
